body {
  background-color: black;
  margin-left: 16px;
  border-left: solid;
}

.wd-column {
  display: flex;
  flex-direction: column;
}

.wd-row {
  display: flex;
}

.wd-bookmark-row {
  margin-left: 16px;
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(47, 51, 54);
}

.wd-bookmark-title {
  color: white;
  font-size: 20px;
}

.wd-bookmark-handle {
  color: rgb(47, 51, 54);
  font-size: 13px;
}

.wd-avatar {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.wd-post-row {
  margin-left: 12px;
}

.wd-post-author {
  color: white;
  font-size: 15px;
  margin-bottom: 12px;
}

.wd-post-handle {
  color: rgb(47, 51, 54);
}

.wd-post-content {
  color: white;
  font-size: 15px;
  max-width: 506px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.wd-post-with-image {
  border-color: rgb(47, 51, 54);
  border-width: 1px;
  border-style: solid;
  margin-right: 16px;
  border-radius: 20px;
  margin-bottom: 12px;
}

.wd-post-pic {
  width: 504px;
  height: 264px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 12px;
}

.wd-post {
  padding: 12px;
  max-width: 480px;
}

.wd-post-title {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.wd-post-text {
  color: grey;
  margin-top: 12px;
  margin-bottom: 12px;
}

.wd-twitter-buttons {
  color: rgb(47, 51, 54);
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

.wd-twitter-button-container {
  cursor: pointer;
}

.wd-twitter-button-container > a {
  margin-left: 12px;
  text-decoration: none;
  color: inherit;
}

.wd-twitter-button-heart {
  color:rgba(233,24,29,0.85);
}